.block{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.card{
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 30%;
}
.button{
    padding: 20px;
    border: none;
    background-color: rgb(58, 58, 234);
    color: white;
}